<html>
  <head>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.min.js"></script>
  </head>
  <body>
    <navbar class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">Sample Iron + Bootstrap App</a>
    </navbar>
    {{> (page_template_path)}}
  </body>
</html>
